
<div class="header pb-6 d-flex align-items-center" style="min-height:1200px; background-image: url(../../assets/template/img/theme/pexels-maksim-goncharenok.jpg); background-size: cover; background-position: center top;"></div>
<span class="mask bg-gradient-default opacity-6"></span>
<div class="card-header border-0">
    <h3 class="mb-0">Details of Developers</h3>
  </div>
<table class="table align-items-center table-flush">
  <thead class="thead-light">
 
 
  <tbody>
    <table>
        
        <tr>
          <th>Developers Name</th>
          <th>specialized</th>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
            <td>Tim</td>
            <td>Android Developer</td>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
            <td>Jerin</td>
            <td>Android Developer</td>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
            <td> kimen</td>
            <td>Android Developer</td>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
            <td> Alex</td>
            <td>UI/UX DEVELOPERS</td>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
            <td> Ridhim Shukla</td>
            <td>UI/UX DEVELOPERS</td>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
            <td>Lewis</td>
            <td>SOFTWARE DEVELOPERS</td>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr>
      </table>
      
  </tbody>
</table>
<!-- Footer -->
<app-footbar></app-footbar>

